/* Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #F0E8D5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-logo img{
    height: 80px;
    width: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    flex: 1;
    justify-content: center;
}

.nav-menu a {
    text-decoration: none;
    color: #3b2f25;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-menu a:hover {
    opacity: 0.7;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.weather::before {
    content: "●";
    color: #4caf50;
    margin-right: 6px;
}

.btn-reservar {
    background-color: #3b2f25;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-reservar:hover {
    background-color: #2a2119;
}

/* Hero Section */
.hero {
    height: 90vh;
    background-image: url("/src/assets/serra_das_veredas.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: #fff;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
}


.btn-hero {
    background-color: #3b2f25;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

.btn-hero:hover {
    background-color: #2a2119;
}