<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Encantos da Montanha</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <img src="/src/assets/logo_encantos_da_montanha.png" alt="Logo Encantos da Montanha">
            </div>

            <!-- Inserir link de cada seção. -->
            <ul class="nav-menu">
                <li><a href="#">A POUSADA</a></li>
                <li><a href="#">HOSPEDAGEM</a></li>
                <li><a href="#">ATIVIDADES</a></li>
                <li><a href="#">GALERIA</a></li>
                <li><a href="#">CONTATO</a></li>
            </ul>

            <div class="nav-actions">
                <!-- Inserir aqui o link para a API de clima da região. -->
                <span class="weather">30°C • Serra Das Veredas</span>
                <a href="#" class="btn-reservar">RESERVAR AGORA</a>
            </div>
        </nav>
    </header>

    <!-- Fonte:Cormorant Garamond -->
    <section class="hero">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1 style="font-style: italic">
                    Onde a montanha <span style="color: #9A6B3E">abraça</span> quem chega
                </h1>

                <!-- Fonte: Jost -->
                <p>Na serra das veredas, cada detalhe convida você a respirar fundo, se reconectar e viver momentos que ficam para sempre</p>
                <a href="#" class="btn-versuites">VER SUITES DISPONÍVEIS</a>
                <a href="#" class="btn-conhecermais">CONHECER A POUSADA</a>
            </div>
        </div>

    </section>
</body>
</html>